.pv-animove .holding circle {
    fill: none;
    stroke: gray;
}

.pv-animove .animal rect {
    stroke: none;
    fill: black;
}

/* .pv-animove .animal path {
    fill: black;
    stroke: none;
    stroke-opacity: 0.25;
} */

.pv-animove .animal path.curve {
    fill: none;
    stroke: black;
}

.pv-animove path.journey {
    fill: none;
    stroke: black;
}