.pv-animove  {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.pv-animove .holding circle {
    fill: none;
    stroke: gray;
}

.pv-animove .animal rect {
    stroke: none;
    fill: black;
}

.pv-animove .animal path.curve {
    fill: none;
    stroke: black;
}

.pv-animove path.journey {
    fill: none;
    stroke: black;
}