.pv-linechart .x-label {
    text-anchor: end;
    dominant-baseline: text-after-edge;
}

.pv-linechart .x-label div {
    float: right;
}

.pv-linechart .y-label select {
    transform-origin: right;
}

.pv-linechart .y-label {
    text-anchor: end;
    dominant-baseline: text-before-edge;
}

.pv-linechart .line path {
    fill: none;
}

.pv-linechart .line circle:hover {
    stroke: black;
}

.pv-linechart .line text {
    text-anchor: end;
}

.pv-linechart .cell:hover {
    stroke: red;
}

.pv-linechart .cell rect {
    shape-rendering: crispEdges;
}