.pv-map .holding {
    opacity: 0.1;
}

.pv-map .holding circle {
    fill-opacity: 0;
    stroke: gray;
}

.pv-map .holding text {
    text-anchor: middle;
    dominant-baseline: middle;
}

.pv-map .animal rect {
    stroke: none;
}